body {
	font:
		14px 'Century Gothic',
		Futura,
		sans-serif;
	margin: 20px;
}

.restartBtn {
	padding-top: 30px;
	padding-left: 15px;
}

.status {
	margin-bottom: 10px;
}

.board-row {
	text-align: center;
}

.square {
	text-align: center;
	background: #d3d3d3;
	border: 1px solid #131313;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	width: 34px;
}

.square:focus {
	outline: auto;
}

.game {
	text-align: center;
	display: flex;
	flex-direction: row;
}
